<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <!-- Libraries -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/pico.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/libraries/fork-awesome.min.css') }}">
    <!-- Global Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/global/foreground_widget.css') }}">
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block body %}
    {% endblock %}
</html>