<link rel="stylesheet" href="{{ url_for('static', filename='css/components/header.css') }}">
<script src="{{ url_for('static', filename='js/components/modal.js') }}"></script>
<header id="header" class="pico-container pico-bg-primary foreground-widget">
    <!-- Burger Menu Icon -->
    <div id="header-burger-menu-container" class="transparent-action">
        <button class="pico-btn pico-btn-icon" id="header-burger-menu-button" data-target="sidebar-modal" onClick="toggleModal(event)">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
    </div>
    
    <!-- App Name: Chart Charm -->
    <div id="header-text-container">
        <h1 class="pico-h3 pico-mb-0">Chart Charm</h1>
    </div>
    
    <!-- Icons: Import, Export, and Plus -->
    <div id="header-actions-container" class="transparent-action">
        <!-- Import Icon -->
        <button class="pico-btn pico-btn-icon" id="header-import-data-button">
            <i class="fa fa-upload" aria-hidden="true"></i>
        </button>
        
        <!-- Export Icon -->
        <button class="pico-btn pico-btn-icon" id="header-export-data-button">
            <i class="fa fa-download" aria-hidden="true"></i>
        </button>
  
        <!-- Plus Icon -->
        <button class="pico-btn pico-btn-icon" id="header-add-data-button">
            <i class="fa fa-plus" aria-hidden="true"></i>
        </button>
    </div>
</header>

<!-- Include Sidebar (Burger Menu) -->
{% include "sidebar.html" %}