{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block head %}
  <!-- Additional CSS for styling the project tiles -->
  <style>
    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }
    .project-tile {
      width: 100%;
      padding-top: 100%; /* 1:1 Aspect Ratio */
      position: relative; /* If you want text inside of the container */
      border: 1px solid var(--pico-border-color); /* Adaptive border color */
      box-shadow: 4px 4px 8px rgba(128, 127, 127, 0.1);
      background-color: var(--pico-bg-secondary); /* Pico secondary background color */
      color: var(--pico-text); /* Pico text color */
    }
    .menu-button {
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      color: var(--pico-text);
      font-size: 20px;
      cursor: pointer;
    }
    .project-content {
      position: absolute;
      top: 10px;
      left: 10px;
      bottom: 10px;
      right: 10px;
    }
  </style>

{% endblock %}
{% block body %}
{% include "header.html" %}
    <div class="grid">
        {% for project in projects %}
        <div class="project-tile"> <!-- Using Pico color scheme -->
            <button class="menu-button"><i class="fa fa-ellipsis-v" aria-hidden="true"></i></button>
            <div class="project-content">
                <h3 class="pico-h4">{{ project.name }}</h3> <!-- Using Pico heading class -->
                {% if project.description %}
                <p>{{ project.description }}</p>
                {% else %}
                <p>No description.</p>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
