/* Grey Light scheme (Default) */
[data-theme="light"] .foreground-widget,
:root:not([data-theme="dark"]) .foreground-widget {
    --primary: #d3d3d3; /* Light grey color */
    background-color: var(--primary);
}

/* Grey Dark scheme (Auto) */
/* Automatically enabled if user has Dark mode enabled */
@media only screen and (prefers-color-scheme: dark) {
    :root:not([data-theme]) .foreground-widget {
        --primary: #757575; /* Dark grey color */
        background-color: var(--primary);
    }
}

/* Grey Dark scheme (Forced) */
/* Enabled if forced with data-theme="dark" */
[data-theme="dark"] .foreground-widget {
    --primary: #757575; /* Dark grey color */
    background-color: var(--primary);
}
