#header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--pico-border);
    background-color: var(--pico-bg-primary);
}

#header-burger-menu-container,
#header-text-container,
#header-actions-container {
    display: flex;
    align-items: center;
}

.transparent-action > label,
.transparent-action > button {
    margin-left: 10px;
    color: var(--pico-text);
    background-color: transparent;
    border: 1px solid var(--pico-border);
}

#accordion-content {
    display: none;
    height: 100vh;
    width: 80vw;
}

#accordion-toggle:checked + #accordion-content {
    display: block;
}

.accordion-wrapper {
    /* Additional styling for the accordion content goes here */
}

#header-burger-menu-button {
    background-color: transparent; /* Remove blue background */
    padding: 5px; /* Adjust padding to reduce size */
    border: none; /* Remove border if needed */
}